
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

.header{
    text-align: center;
}

main {
    border: 1px solid darkgray;
    text-align: center;
}

.skills ol {
    list-style: none;
}
.avatar {
    width: 300px;
    height: 300px;
    
}
.header__title {
    font-size: 28px;
}

.header__subtitle {
    color: rgb(134, 136, 232);
}

.separator {
    width: 50%;
    height: 3px;
    background-color: #af93f1;
}

.video {
    width: 800px;
    height: 490px;
}

.ed__table{
    border-collapse: collapse;
    width: 100%;
}

.ed__table th, 
.ed__table td {
    border: 1px solid black;
    padding: 10px;
}

.quote {
    font-size: 32px;
}
.form {
    width: 600px;
    margin: 0 auto;
}
.form input {
    width: 100%;
}

.form__submit {
    display: block;
    margin: 0 auto;
}

.form__control {
    width: 100%;
}

.control--text {
    width: 50%;
}

footer {
    text-align: center;
    height: 100px;
    background-color: #d0bff7;
}

footer a{
    text-decoration: none;
    color: rgb(82, 68, 52);
}